<div class="text-center">
    <h1 style="padding-top: 10px;">Coming Soon</h1>
    <p>Hey everyone, this website is in progress. As I'm nearing the end of my college career I decided
        that it would be a good idea to create a resume website. I've tried multiple times throughout my college
        years to get one complete. I've started this website several times in the past year alone. I've tried doing a simple Wordpress 
        Website, or I've tried useing Frameworks like .NET or Django. With the world using more Javascript/Typescript websites
        I've decided to get myself familar with Angular. This website will be updated periodically before the end of 2021.
    </p>
    <a href="https://www.linkedin.com/in/michael-kasper-5bba5a179/"><img src="../../assets/img/maticon/linkedin.png"></a>
    <a href="https://github.com/mlkasper/"><img src="../../assets/img/maticon/github.png"></a>
</div>